@import "compass/css3";

// Mixins

@mixin rotate($degrees) {
   -moz-transform: rotate($degrees);  
     -o-transform: rotate($degrees);  
-webkit-transform: rotate($degrees);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
             zoom: 1;
}

// Colors

$base-grey: #716E72;
$base-yellow: #F1D131;
$base-orange: #F4AD25;
$base-brown: #8B4F14;
$base-red: #BD4416;

// Typography

@import "fonts/ostrich-sans.css";
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

.serif {
	font-family: "Arvo", Times New Roman, serif !important;
}

// Styles

.container {
	padding: 25px 0px;
}

.header {
	.panel {
		margin-bottom: 0;
		border: none;
	}

}
.mini-header
{
	@extend .header;
	.panel {

	}
	h1 { font-size: 5em; }
}

.rotate-header {
	@extend .header;
	@include rotate(-20deg);
	.panel {
		margin-top: -2px;
		padding: 20px 50px 0px 50px;
	}
	h1 { font-size: 10em; }
}

.date { 
	color: $base-red;
	font-family: "Ostrich Sans Inline";
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 5em;
}

.mini-date {
	@extend .date;
	font-size: 2.5em;
	margin-top: -25px;
}

.subheader {
	@extend .serif;
	font-size: 1.4em;
}

p {
	@extend .serif;
}

a {
	font-weight: bold;
	color: $base-red !important;
	border-bottom: 1px dotted;
	&:hover{ 
		color: $base-red !important;
		border-bottom: 1px solid;
	}
}

.location {
	margin: 10px;
	padding: 15px 0px;
	border: 1px dashed;
	border-color: $base-brown;
	background-color: $base-yellow;
}

.fill {
	padding: 0px !important;
	border: 2px solid !important;
	border-color: $base-red !important;
}