@import "compass/css3";

// Colors

$base-grey: #716E72;
$base-yellow: #F1D131;
$base-orange: #F4AD25;
$base-brown: #8B4F14;
$base-red: #BD4416;

// Typography

@import "fonts/ostrich-sans.css";

// Styles
.header {
	.panel {
		margin-bottom: 0;
	}
}