		{% include ga.html %}

		<script>
  			document.write('<script src=' +
  			('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') + '.js><\/script>')
  		</script>
  
		<script src="js/foundation/foundation.js"></script>
	
		<script src="js/foundation/foundation.reveal.js"></script>
  
		<script>
			$(document).foundation();
		</script>

		<div id="sam" class="tiny reveal-modal">
			<img src="img/sam.jpg" />
			<a class="close-reveal-modal">x</a>
		</div>
		<script src="js/jwerty.js"></script>
		<script>
			jwerty.key('s,a,m', function(){
				$('#sam').foundation('reveal','open');
			});
		</script>
	</body>
</html>